.main-header{
    background-color: #6FB73A!important;
    background-image: none;
    border: none;
    box-shadow: 0 0 10px #6f6f6f;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
}
.container-logo{
    height: 50px;
    padding: 10px 0;
}
.logo-img{
    height: 100%;
}

.main-slider-content .slick-arrow, .multiple-items-slide button.slick-arrow{
    display: none!important;
}
.main-slider-content .item{
    position: relative;
}
.main-slider-content .item .caption{
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 10px;
    background-color: rgba(0,0,0,.2);
    color: #ffffff;
    font-size: 12px;
    line-height: 17px;
    text-shadow: none;
}

.slide-info-section{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    overflow-scrolling: touch;
    -webkit-overflow-scrolling: touch;
}
.slide-info-section .card{
    display: inline-block;
    margin-left: 5px;
    width: 70%;
    border-radius: 2px;
    overflow: hidden;
}
.slide-info-section .card .caption{
    overflow: hidden;
    padding: 6px 10px;
    font-size: 11px;
    font-weight: 500;
    white-space: normal;
}
.slide-info-section .card .caption p{
    color: #adadad;
    font-weight: 100;
    text-shadow: none;
    font-size: 10px;
    margin-top: 5px;
}


.menu-card{
    padding: 7px 5px;
}
.menu-card .ui-block{
    padding: 3px;
}
.menu-card .ui-block .card{
    padding: 10px;
    font-size: 8px;
    text-align: center;
}
.menu-card .ui-block .card img{
    width: 45px;
}

.menu-card .color-menu-a{color: #8D3BA7;}
.menu-card .color-menu-b{color: #4555AC;}
.menu-card .color-menu-c{color: #326DD8;}
.menu-card .color-menu-d{color: #EE9B44;}
.menu-card .color-menu-e{color: #A5CA3F;}
.menu-card .color-menu-f{color: #5EBB61;}
.menu-card .color-menu-g{color: #3A7C89;}
.menu-card .color-menu-h{color: #5CB9CF;}

.nav-footer-menu{
    font-weight: 100;
    font-size: 10px;
    background-color: #ffffff;
    border: none;
    padding: 10px 0;
    color: #929292;
    text-shadow: none;
    background-image: none;
}
.nav-footer-menu div i{
    font-size: 16px;
    margin-bottom: 5px;
}
.nav-footer-menu div.active{
    color: #49852f;
}


/*Dropdown*/

.btn-header-bar {
    font-size: 16px;
    position: absolute;
    top: 17px;
    right: 40px;
    text-shadow: none;
}
.dropdown-content.info{
    background-color: #FFFFFF;
    box-shadow: 0 0 4px #909090;
    font-size: 10px;
    font-weight: 100;
    text-shadow: none;
    color: #929292;
    position: fixed;
    top: 50px;
    right: 0;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
.dropdown-content.info li{
    padding: 10px 15px;
}


@media (max-width: 320px) {
    .multiple-items-slide .slick-list .item{
        width: 230px!important;
    }
}